<ion-card> <!-- ion card that reads the values from the component.ts file. The values are passed into the component via the service api-->
  <ion-row>
    <ion-col >
      <ion-row>
      <ion-img class="Thumnail" src="{{SRC}}"></ion-img>
    </ion-row>
      <ion-row Style="margin: 0%;text-align: center;">
      <p style="width: 100%;">
        <b>{{Title}}</b>
      </p>
    </ion-row>
    </ion-col>
    
    <ion-col>
      <ion-row style="margin-top: -5%; margin-bottom: -15%;">
        <p> Rating : {{Rating}}</p>
      </ion-row>

      <ion-row>
        <p> Playtime : H {{PlayTime}}</p>
      </ion-row>
      
      <ion-row>
        <ion-button (click)="likeUnlike()"><ion-icon name="{{icon}}"></ion-icon></ion-button>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-card>