<ion-card>
  <ion-row>
    <ion-col >
      <ion-row>
      <ion-img class="Thumnail" src="{{SRC}}"></ion-img>
    </ion-row>
      <ion-row Style="margin: 0%;text-align: center;">
      <p style="width: 100%;">
        <b>{{Title}}</b>
      </p>
    </ion-row>
    </ion-col>
    
    <ion-col>
      <ion-row style="margin-top: -5%; margin-bottom: -15%;">
        <p> Rating : {{Rating}}</p>
      </ion-row>

      <ion-row>
        <p> Playtime : H{{PlayTime}}</p>
      </ion-row>
      
      <ion-row>
        <p>Genres : </p>this.gameSearchResults
      </ion-row>
    </ion-col>
  </ion-row>
</ion-card>